@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.primary-text');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
